<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book A Movie</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <div class="movie-container">
        <label> Select a movie:</label>
        <select id="movie">
          <option value="220">Cars 2 (220kr)</option>
          <option value="320">Fury (320kr)</option>
          <option value="250">Avatar (250kr)</option>
          <option value="260">The Mighty Ducks (260kr)</option>
          <option value="180">Frozen (180kr)</option>
        </select>
      </div>

      <ul class="showcase">
        <li>
          <div class="seat"></div>
          <small>Available</small>
        </li>
  
        <li>
          <div class="seat selected"></div>
          <small>Selected</small>
        </li>
  
        <li>
          <div class="seat booked"></div>
          <small>Booked</small>
        </li>
      </ul>

      <div class="container">
        <div class="screen"></div>
  
        <div class="row">
          <div class="seat booked"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>
  
        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat booked"></div>
          <div class="seat booked"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>
  
        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat booked"></div>
          <div class="seat booked"></div>
        </div>
  
        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>
  
        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat booked"></div>
          <div class="seat booked"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>
  
        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat booked"></div>
          <div class="seat booked"></div>
          <div class="seat booked"></div>
          <div class="seat"></div>
        </div>
    
        <button id="bookButton">Book Now</button>

      </div>

      <p class="text">
        You have selected <span id="count">0</span> seats, for a total of
        <span id="total">0</span> KR.
      </p>

      <div class="wheelchair">
        <small>
          If you are in a wheelchair, please make your reservation at
          202-555-0189.
        </small>
      </div>
</body>
</html>