<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book A Movie</title>
</head>
<body>
    <div class="movie-container">
        <label> Select a movie:</label>
        <select id="movie">
          <option value="220">Cars 2 (220kr)</option>
          <option value="320">Fury (320kr)</option>
          <option value="250">Avatar (250kr)</option>
          <option value="260">The Mighty Ducks (260kr)</option>
          <option value="180">Frozen (180kr)</option>
        </select>
      </div>

      <ul class="showcase">
        <li>
          <div class="seat"></div>
          <small>Available</small>
        </li>
  
        <li>
          <div class="seat selected"></div>
          <small>Selected</small>
        </li>
  
        <li>
          <div class="seat booked"></div>
          <small>Booked</small>
        </li>
      </ul>
</body>
</html>